[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "external/PerlinNoise"]
	path = external/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
[submodule "external/http"]
	path = external/http
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
